/* General navbar styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    color: black;
  }
  
 
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 15px;
    cursor: pointer;
  }
  
  .hamburger {
    display: none;
  }
li{
    font-weight:600;
}
  
  @media (max-width: 768px) {
    .hamburger-img{
        width: 50px;
           }
    .nav-links {
      display: none; /* Hide links by default */
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 10px;
      width: 200px;
      background-color: white;
      padding: 10px;
      border-radius: 8px;
    }
  
    .nav-links li {
      margin-bottom: 10px;
    }
  
    .hamburger {
      display: block;
    }
  
    .nav-links.active {
      display: flex;
    }

    .navbar{
        justify-content: start;
    }
  }
  