aside{
    width: 300px;
    position: absolute;
}


.filter {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 300px;
  }
  
  .filter h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.2rem;
  }
  
  .filter-option {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .filter-option input {
    margin-right: 10px;
  }
  
  .filter-option label {
    font-size: 1rem;
    color: #555;
    text-transform: capitalize; /* Capitalizes the first letter of each category */
  }
  .filter-divison{
    padding: 10px;
  }

.filter-divison div{
    padding: 5px;
}

.hide-filter-button{
    width: 100px;
    height: 100px;
}

@media (max-width: 768px) {
  aside{
    width: 300px;
    position: relative;
}

}